

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #00C6A7;
  color:white;
}

.nav-menu ul 
{
display: flex;  
}

.nav-menu ul li
{
display: flex; 
flex-direction: row;
list-style: none;
}

.nav-menu ul li a
{
text-decoration: none;
color:#fff;
text-transform: uppercase;
padding-right:20px ;
font-weight: 500;
}

.nav-logo
{
text-transform: uppercase;  
}

.home-section{
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(57deg,#00C6A7 , #1E4D92);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color:#fff;
  clip-path: polygon(0%0%,0%100%,100%70%,100%0%);/*y,x*/
}

input[type="text"]
{
height:30px;
border:none;
outline: none;
border: 1px solid rgb(121, 173, 250);
margin: 10px;
}



.btn
{
border:none;
outline: none;  
border: 1px solid rgb(121, 173, 250);
background: none;
width: 175px;
height: 50px;
color:black;
font-size: 17px;
margin: 10px;
}

form{
  margin:40px;
}

@media only screen and (max-width: 600px) {
  /*Navbar CSS starts*/
  .navbar {
    height: 60px;
    width: 100%;
    background: rgb(21, 133, 185);
    display: flex;
    flex-direction: column;
  }
}